In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('aiddata-countries-only.csv')
df.head()

,Unnamed: 0,aiddata_id,aiddata_2_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
0,1,2414478.0,NaN,1977,Saudi Arabia,India,348718518.0,23030,Power generation/renewable sources
1,2,2414509.0,NaN,1977,Saudi Arabia,Brazil,191647004.0,23040,Electrical transmission/ distribution
2,3,2414635.0,NaN,1983,Saudi Arabia,India,79371799.0,21030,Rail transport
3,4,2414665.0,NaN,1984,Saudi Arabia,Taiwan,212202942.0,21030,Rail transport
4,5,2414667.0,NaN,1984,Saudi Arabia,Korea,134511154.0,21040,Water transport

In [3]:
# I have decided to drop sectors (for now...) because the categoy labels are too low-level and there are >80000 unspecified sectors
df['coalesced_purpose_name'].value_counts()

Sectors not specified                                                                          8076
Social/ welfare services                                                                       6228
Strengthening civil society                                                                    5600
Higher education                                                                               4593
Multisector aid                                                                                3026
Material relief assistance and services                                                        2243
Education facilities and training                                                              2144
Administrative costs                                                                           1866
Agricultural development                                                                       1654
Vocational training                                                                            1613
Industrial development                                                                         1568
Rural development                                                                              1392
Economic and development policy/planning                                                       1386
Environmental policy and administrative management                                             1369
Education policy and administrative management                                                 1334
Legal and judicial development                                                                 1313
Research/scientific institutions                                                               1204
Primary education                                                                              1122
Bio-diversity                                                                                  1117
STD control including HIV/AIDS                                                                 1108
Government administration                                                                      1072
Business support services and institutions                                                     1037
Secondary education                                                                             967
Employment policy and administrative management                                                 961
Multisector education/training                                                                  928
Civilian peace-building, conflict prevention and resolution                                     927
Std control including hiv/aids                                                                  846
Basic health care                                                                               844
Transport and Storage, purpose unspecified or does not fit under any other applicable codes     777
Health policy and administrative management                                                     713
                                                                                               ...
Water supply - large systems                                                                      2
FOOD CROP PRODUCTION                                                                              1
AGRICULTURAL INPUTS                                                                               1
Off-shore minerals                                                                                1
FLOOD PREVENTION/CONTROL                                                                          1
GAS DISTRIBUTION                                                                                  1
FORESTRY DEVELOPMENT                                                                              1
REPRODUCTIVE HEALTH CARE                                                                          1
Industry, combination of purposes Industry, Mining and Construction                               1
POWER GENERATION/RENEWABLE SOURCES                                                                1
Basic sanitation                                                                                  1
WIND POWER                                                                                        1
ENERGY MANUFACTURING                                                                              1
EMERGENCY FOOD AID                                                                                1
SOLAR ENERGY                                                                                      1
CHEMICALS                                                                                         1
EDUC./TRNG IN TRANSPORT & STORAGE                                                                 1
FERTILIZER PLANTS                                                                                 1
STORAGE                                                                                           1
HYDRO-ELECTRIC POWER PLANTS                                                                       1
Social mitigation of HIV/AIDS                                                                     1
BASIC LIFE SKILLS FOR YOUTH & ADULTS                                                              1
Business and Other Services                                                                       1
REGIONAL TRADE AGREEMENTS                                                                         1
TRANSPORT EQUIPMENT INDUSTRY                                                                      1
COTTAGE INDUSTRIES & HANDICRAFT                                                                   1
River basins’ development                                                                         1
TRADE FACILITATION                                                                                1
Non-agricultural alternative dvpt                                                                 1
BASIC DRINKING WATER SUPPLY AND BASIC SANITATION                                                  1
Name: coalesced_purpose_name, Length: 426, dtype: int64

In [4]:
# Sanity check: Each row represents a unique year, donor, recipient and sector
df[(df['donor'] == 'United States') &(df['year'] == 1977)]

,Unnamed: 0,aiddata_id,aiddata_2_id,year,donor,recipient,commitment_amount_usd_constant,coalesced_purpose_code,coalesced_purpose_name
62322,62323,84788704.0,6613119.0,1977,United States,Korea,124945894.0,52010,Food security programmes/food aid
62732,62733,84985067.0,6520467.0,1977,United States,Thailand,720668.0,60010,Action relating to debt
63336,63337,85304884.0,6529786.0,1977,United States,Korea,6125682.0,60010,Action relating to debt
63958,63959,85627686.0,6519458.0,1977,United States,Thailand,9008356.0,31181,Agricultural education/training
64894,64895,86129314.0,6539424.0,1977,United States,Thailand,13512534.0,43040,Rural development
64922,64923,86142340.0,6529342.0,1977,United States,Korea,5855431.0,60010,Action relating to debt
65288,65289,86338964.0,6529675.0,1977,United States,Chile,180167.0,60010,Action relating to debt
65776,65777,86632775.0,6520060.0,1977,United States,Korea,1441337.0,60010,Action relating to debt
66560,66561,87035484.0,6520430.0,1977,United States,Korea,9879163.0,60010,Action relating to debt
67222,67223,87377778.0,6520134.0,1977,United States,Korea,360334.0,60010,Action relating to debt
70174,70175,88946922.0,6612786.0,1977,United States,India,74168795.0,52010,Food security programmes/food aid

In [5]:
#Group by year, donor, recipient and sum up the commitment amount
df = df[['year', 'donor', 'recipient', 'commitment_amount_usd_constant']]
df_new = df.groupby(['year', 'donor', 'recipient']).sum().reset_index()
df_new = df_new.reset_index().rename(columns={'index':'id', 'commitment_amount_usd_constant': 'amount'})

#Convert year from int to string
df_new['year'] = df_new['year'].astype(str)
df_new.head()

   id  year      donor recipient      amount
0   0  1973  Australia     India  36565064.0
1   1  1973  Australia     Korea   1162012.0
2   2  1973  Australia  Thailand   8558787.0
3   3  1973    Belgium  Colombia   6541889.0
4   4  1973    Belgium     India  32709447.0

In [6]:
df_new.year.unique()

array(['1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013'], dtype=object)

In [7]:
def flatten_multi_index(df):
    mi = df.columns
    suffixes, prefixes = mi.levels
    col_names = [prefixes[i_p] + '_' + suffixes[i_s] for (i_s, i_p) in zip(*mi.labels)]
    df.columns = col_names
    return df

In [45]:
df_new.recipient.unique()

array(['India', 'Korea', 'Thailand', 'Colombia', 'Brazil', 'Chile',
       'Cyprus', 'Kuwait', 'Saudi Arabia', 'United Arab Emirates',
       'Taiwan', 'Australia', 'Austria', 'Belgium', 'Canada', 'Denmark',
       'France', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Japan',
       'New Zealand', 'Norway', 'Poland', 'Portugal', 'Romania', 'Spain',
       'Sweden', 'United Kingdom', 'Liechtenstein', 'Finland', 'Hungary',
       'South Africa', 'Qatar', 'Czech Republic', 'Latvia', 'Estonia',
       'Lithuania', 'Slovenia', 'Slovak Republic', 'Luxembourg',
       'Switzerland', 'United States', 'Germany'], dtype=object)

## Data Processing - Global Distribution of Donors/Recipients

In [62]:
class DataProcessing_GlobalDistribution():
    
    def __init__(self):
        
        """
        Entities could be: donor/recipient
        This class contains functions to calculate the total sum of commitment amount as either a donor/recipient on a yearly basis
        """

    def final(self, df):

        # [DESTINATION]
        destination_count = self.global_stats(df, 'recipient')

        # [SOURCE]
        source_count = self.global_stats(df, 'donor')

        # Global count
        df = pd.concat([source_count, destination_count])
        all_country_PT = self.country_count_PT(df)
        
        # Sum
        net_all = pd.DataFrame()
        for country in list(set(list(df_new.donor.unique()) + list(df_new.recipient.unique()))):
            tmp = all_country_PT[all_country_PT['country'] == country]
            donor = tmp[tmp['category'] == 'donor'].drop(['country', 'category'], axis=1).reset_index(drop=True)
            recipient = tmp[tmp['category'] == 'recipient'].drop(['country', 'category'], axis=1).reset_index(drop=True)
            if((len(donor)>0) & (len(recipient)>0)):
                net = donor.add(recipient)
            elif (len(donor)==0):
                net = recipient 
            elif (len(recipient)==0):
                net = donor 
            net['country'] = country
            net_all = pd.concat([net_all, net])

        net_all['category'] = 'net'
        net_all = net_all.fillna(0).reset_index(drop=True)
        all_country_PT = pd.concat([all_country_PT, net_all])
        
        # Global density (in %)
        all_country_pctPT = self.country_pct_PT(df)

        return all_country_PT, all_country_pctPT
    
    def global_stats(self, df, category):

        country_stats = pd.DataFrame()

        tmp_g1 = pd.DataFrame(df.groupby([category])['amount'].sum()).reset_index().rename(columns={'amount': 'sum'}) 
        tmp_g1['year'] = "All"
        tmp_pcts = pd.DataFrame(df.groupby([category])['amount'].sum()).apply(lambda x: 100 * x / float(x.sum())).reset_index().rename(columns={'amount': 'pct'})
        tmp_g1['year'] = "All"
        new = pd.merge(tmp_g1, tmp_pcts, on=category, how='left')
        country_stats = pd.concat([country_stats, new])
        
        # segment by year
        for i in df['year'].unique():
            tmp = df[df['year'] == i]
            if(len(tmp) > 0):
                tmp_g1 = pd.DataFrame(tmp.groupby([category])['amount'].sum()).reset_index().rename(columns={'amount': 'sum'})     
                tmp_g1['year'] = int(i)
                tmp_pcts =  pd.DataFrame(tmp.groupby([category])['amount'].sum()).apply(lambda x: 100 * x / float(x.sum())).reset_index().rename(columns={'amount': 'pct'})
                tmp_pcts['year'] = int(i)
                tmp_pcts = pd.merge(tmp_g1, tmp_pcts, on=[category, 'year'], how='left')
                country_stats = pd.concat([country_stats, tmp_pcts])
                
        country_stats['category'] = category
        country_stats = country_stats.rename(columns={category: 'country'})
        return country_stats

    def country_count_PT(self, df):
        
        all_stats_PT = pd.pivot_table(df, values='sum', index=['country', 'category'], columns=['year']) 
        all_stats_PT.fillna(0, inplace=True)
        return all_stats_PT.reset_index()

    def country_pct_PT(self, df):

        all_stats_PT = pd.pivot_table(df, values='pct', index=['country', 'category'], columns=['year']) 
        all_stats_PT.fillna(0, inplace=True)
        return all_stats_PT.reset_index()

In [63]:
gd = DataProcessing_GlobalDistribution()

In [64]:
all_country_PT, all_country_pctPT = gd.final(df_new)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [55]:
all_country_PT[all_country_PT['country'] == 'Australia']

,country,category,1973,1974,1975,1976,1977,1978,1979,1980,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,All
0,Australia,donor,46285863.0,26950877.0,77691781.0,27718070.0,72648152.0,47483698.0,9763598.0,23283790.0,...,28927690.0,27058214.0,13864351.0,18754564.0,17680084.0,32806019.0,41545539.0,55649016.0,67265056.0,2.446616e+09
1,Australia,recipient,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54502260.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.572618e+09
42,Australia,net,46285863.0,26950877.0,77691781.0,27718070.0,72648152.0,47483698.0,9763598.0,77786050.0,...,28927690.0,27058214.0,13864351.0,18754564.0,17680084.0,32806019.0,41545539.0,55649016.0,67265056.0,5.019235e+09

In [56]:
all_country_PT[all_country_PT['country'] == "India"]

,country,category,1973,1974,1975,1976,1977,1978,1979,1980,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,All
34,India,recipient,2.285257e+09,3.697747e+09,3.000656e+09,2.233586e+09,3.197135e+09,2.927325e+09,1.622749e+09,2.968245e+09,...,3.340561e+09,4.144135e+09,5.386225e+09,5.044560e+09,3.706828e+09,3.826640e+09,3.652446e+09,4.970366e+09,4.550646e+09,1.339805e+11
0,India,net,2.285257e+09,3.697747e+09,3.000656e+09,2.233586e+09,3.197135e+09,2.927325e+09,1.622749e+09,2.968245e+09,...,3.340561e+09,4.144135e+09,5.386225e+09,5.044560e+09,3.706828e+09,3.826640e+09,3.652446e+09,4.970366e+09,4.550646e+09,1.339805e+11

In [37]:
max(all_country_PT.drop(['country', 'category'], axis=1).max(axis = 0).values)

133980469969.0

In [58]:
all_country_pctPT

year,country,category,1973,1974,1975,1976,1977,1978,1979,1980,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,All
0,Australia,donor,0.961191,0.396020,1.827483,0.749985,1.474190,0.989467,0.294701,0.210052,...,0.420308,0.354533,0.169810,0.204451,0.214898,0.427884,0.627657,0.568688,0.819761,0.667009
1,Australia,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.491686,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.701360
2,Austria,donor,0.000000,0.354515,0.000000,0.351258,0.052937,0.563842,0.074872,0.024543,...,0.259653,0.104863,0.141470,0.075755,0.095680,0.107271,0.089815,0.095747,0.087369,0.213757
3,Austria,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.422061,...,0.001853,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.209994
4,Belgium,donor,0.815109,0.640497,0.914151,0.977500,0.727554,0.670760,0.929703,0.000000,...,0.701566,0.765959,0.406474,0.578422,0.520336,0.540584,0.722586,0.365520,0.832586,0.584629
5,Belgium,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.333979,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050257
6,Brazil,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000623,0.001841,0.000000,0.011930,0.000000,0.000000,0.000000,0.000309
7,Brazil,recipient,6.480674,4.505236,2.369291,2.261488,10.175290,3.157616,5.054619,3.586826,...,10.515045,6.200969,5.200444,6.278015,9.528164,13.815128,15.307284,24.967635,8.568072,9.980056
8,Canada,donor,9.094195,1.006580,2.188217,3.146457,0.790538,2.094562,2.421974,1.256355,...,0.967921,0.790199,0.767785,0.827036,0.900872,0.867918,0.752336,0.606226,0.667657,2.035511
9,Canada,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.796446,...,0.000000,0.000000,0.000000,0.000605,0.000000,0.000000,0.000000,0.000000,0.000000,1.109217
10,Chile,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000726,0.001691,0.000696,0.000112,0.000495,0.001169,0.000000,0.000000,0.000000,0.000154
11,Chile,recipient,1.828607,3.786519,8.595216,4.208846,0.052113,0.092071,1.492636,0.155334,...,1.066704,0.706332,1.407793,3.002068,1.662906,1.566289,0.964085,0.743975,3.684058,1.999467
12,Colombia,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000949,0.000074,0.000000,0.001389,0.000000,0.000000,0.000000,0.000052
13,Colombia,recipient,11.420372,2.990929,3.429049,3.871475,1.375808,1.134395,0.464466,2.321819,...,15.356487,21.197621,9.801959,12.973269,15.546097,14.718108,11.318025,10.319025,12.666323,6.960264
14,Cyprus,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000081,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000002
15,Cyprus,recipient,0.199636,0.241458,0.137956,0.839388,0.425024,0.000972,0.478020,0.785859,...,0.000000,0.000000,0.000055,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.263943
16,Czech Republic,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001742,0.012029,0.000000,0.002510,0.004832,0.000000,0.002479,0.001689,0.001501,0.002435
17,Czech Republic,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000680,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.583939
18,Denmark,donor,0.000000,0.835204,0.244456,0.780595,2.277627,0.043469,1.084919,0.871339,...,1.818319,0.133256,0.261240,0.177593,0.082889,0.279621,0.508435,0.153168,0.060226,0.804903
19,Denmark,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.940831,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.045340
20,Estonia,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000076
21,Estonia,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.068524
22,Finland,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.739675,0.333550,0.239117,0.427759,0.786459,0.263974,0.523645,0.080851,0.169811,0.181556
23,Finland,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000965,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.049262
24,France,donor,5.133236,5.398398,4.526073,4.969358,3.427351,2.030405,0.756343,3.250616,...,4.000474,6.083017,4.920885,2.692301,5.394633,6.251065,5.825229,18.985870,15.198353,4.213818
25,France,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.051983,...,0.000000,0.000000,0.000000,0.000090,0.000000,0.000000,0.000000,0.000000,0.000000,0.064760
26,Germany,donor,11.675541,10.258973,19.614232,17.315890,12.523299,8.552190,23.778916,5.900268,...,12.305776,8.704327,11.973242,12.739362,15.446358,11.302522,21.156498,15.526829,19.287155,12.872929
27,Germany,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000352,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000016
28,Greece,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.044814,0.036731,0.037751,0.027713,0.025161,0.028064,0.026297,0.012474,0.002707,0.008906
29,Greece,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.040815,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.141595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Poland,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004914,0.000110
58,Poland,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.676608,...,0.000000,0.000000,0.000663,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.684010
59,Portugal,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.041086,0.033503,0.060911,0.028302,0.025280,0.118972,0.136520,0.079058,0.080793,0.018784
60,Portugal,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.037314,...,0.000000,0.000000,0.000000,0.001232,0.000000,0.000000,0.000000,0.000000,0.000000,0.047776
61,Qatar,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.280146,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.028495
62,Qatar,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200048
63,Romania,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400382,...,0.004047,0.000000,0.001193,0.000133,0.000000,0.000000,0.000000,0.000000,0.000000,0.907585
64,Saudi Arabia,donor,0.000000,0.000000,0.000000,0.000000,10.965197,5.235820,0.000000,1.014196,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.463029
65,Saudi Arabia,recipient,0.001352,0.000000,0.000000,0.000000,0.000000,0.012980,0.362633,1.085954,...,0.133772,0.186179,0.201628,0.003801,0.003977,0.004598,0.004262,0.000000,0.000000,1.329797
66,Slovak Republic,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.004738,0.000000,0.000000,0.000000,0.000173,0.000184,0.000000,0.000000,0.000501,0.000108
67,Slovak Republic,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.223878
68,Slovenia,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.001770,0.000000,0.000000,0.000174,0.000041
69,Slovenia,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000977,0.001291,0.001150,0.000000,0.000000,0.000000,0.000000,0.000000,0.061459
70,South Africa,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,13.474461,11.177876,13.113322,12.517890,15.580013,12.667330,14.252460,9.766845,16.455078,5.085972
71,Spain,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.184846,1.345737,1.455745,1.661620,2.900299,1.669968,1.512887,0.567784,0.680474,0.549257
72,Spain,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.571338,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.153137
73,Sweden,donor,3.496423,0.445222,4.729367,4.107519,2.911284,9.837896,7.657654,0.096342,...,1.305104,0.639834,0.562065,0.443916,0.930503,1.236335,0.866974,0.439086,1.002632,1.734998
74,Sweden,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.318299,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.016291
75,Switzerland,donor,0.291995,0.948499,2.427604,1.179097,2.256383,0.747739,2.047101,0.090472,...,1.030103,0.573334,0.628437,0.428693,0.649941,0.700098,0.594409,0.426993,0.910918,0.775370
76,Switzerland,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001417,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000089
77,Taiwan,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.082868,0.004595,0.003801,0.003977,0.003754,0.004262,0.000000,0.000000,0.022829
78,Taiwan,recipient,0.000000,0.001691,0.000000,0.000000,0.003312,0.000000,0.000000,3.374530,...,0.000000,0.000000,0.000000,0.000000,0.000173,0.000000,0.000000,0.000000,0.000000,0.926804
79,Thailand,donor,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000055,0.000000,0.000000,0.000274,0.000000,0.000000,0.000000,0.000007
80,Thailand,recipient,4.285424,12.749633,7.847951,2.977476,14.526849,17.905683,38.738923,8.144981,...,10.907757,6.230129,3.020606,10.228192,12.622918,7.316439,2.973835,3.409354,3.167604,13.369892
81,United Arab Emirates,donor,0.000000,0.000000,0.000000,1.756351,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.014468,0.008924,0.010479,0.000000,0.018440
82,United Arab Emirates,recipient,0.001352,0.000000,0.000000,0.000000,0.073038,0.000000,0.000000,0.001576,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.081844
83,United Kingdom,donor,9.190775,20.650820,5.226351,1.396540,17.451509,20.248514,0.151290,5.117937,...,11.948328,10.494068,12.485582,8.592102,11.907741,5.686459,3.599120,3.949698,5.977106,6.458634
84,United Kingdom,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.601361,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.260996
85,United States,donor,32.255701,12.799944,22.211381,24.278530,4.995903,9.136497,21.665221,61.924831,...,19.623203,25.365816,13.612966,18.697992,20.612895,19.786700,17.509696,11.174665,12.910130,31.672580
86,United States,recipient,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.280146,0.000011,0.000000,0.000000,0.000000,0.000000,0.000000,0.028496

In [38]:
all_country_pctPT[["All"]].values.sum()

200.00000000000003

In [57]:
all_country_PT.to_csv('all_country_PT.csv', index=False)
all_country_pctPT.to_csv('all_country_pctPT.csv', index=False)

## Data Processing - Country-To-Country Connections

In [14]:
class DataProcessing_CountryToCountry():
    
    def __init__(self):
        
        """
        A country could be:
        1) Donor
        2) Recipient
        3) Both risk source and destination
        This is a class containing functions to find the density of connections a country has to other countries based on relationship on a yearly basis 
        """

    def final(self, df):
     
        """
        Output: Transformed data ready for input into chart
        
        Parameters:
        df: Cleaned dataframe of each relationship between country
        """
      
        wn_country_donor = self.country_to_country(df, ['donor','recipient'])                                                                      
        wn_country_recipient = self.country_to_country(df, ['recipient', 'donor'])   
        wn_country_net = self.net(df)
        wn_country_PT = self.country_flow_PT(wn_country_donor, wn_country_recipient, wn_country_net)
        return wn_country_PT
    
    def country_to_country(self, df, X):

        """
        Output: Count and percentage of connections to each country, segmented by year
        """
        
        country_stats = pd.DataFrame()

        tmp = pd.DataFrame(df.groupby(X)['amount'].sum()).reset_index()
        tmp['year'] = 'All'
        country_stats = pd.concat([country_stats, tmp])
        
        # segment by year
        for i in df['year'].unique():
            tmp = df[df['year'] == i]
            if(len(tmp) > 0):
                tmp = pd.DataFrame(tmp.groupby(X)['amount'].sum()).reset_index()    
                tmp['year'] = str(int(i))
                country_stats = pd.concat([country_stats, tmp])

        country_stats = country_stats[['year', 'donor', 'recipient', 'amount']]
        
        return country_stats

    def net(self, df):
        
        rsAll1= pd.DataFrame(df.groupby(['donor','recipient'])['amount'].sum()).reset_index()
        rsAll1 = rsAll1.rename(columns={'recipient': 'country 2', 'donor': 'country 1', 'amount': 'outflow'})
        rsAll1['year'] = 'All'
        rsAll2 = pd.DataFrame(df.groupby(['recipient', 'donor'])['amount'].sum()).reset_index()
        rsAll2 = rsAll2.rename(columns={'donor': 'country 2', 'recipient': 'country 1', 'amount': 'inflow'})
        rsAll2['year'] = 'All'
        
        rs1 = pd.DataFrame()
        rs2 = pd.DataFrame()
        for i in list(set(list(df.donor.unique()) + list(df.recipient.unique()))):
            tmp1 = df[(df['donor'] == i)]
            rs1 = pd.concat([rs1, tmp1])
            tmp2 = df[(df['recipient'] == i)]
            rs2 = pd.concat([rs2, tmp2])

        rs1 = rs1.rename(columns={'recipient': 'country 2', 'donor': 'country 1', 'amount': 'outflow'})
        rs2 = rs2.rename(columns={'donor': 'country 2', 'recipient': 'country 1', 'amount': 'inflow'})
    
        net = pd.merge(rs1, rs2, on=['country 1', 'country 2', 'year'], how='left')
        net = pd.concat([net, rsAll1, rsAll2])
        net['inflow'] = net['inflow'].fillna(0)
        net['outflow'] = net['outflow'].fillna(0)
        net['net'] = net['outflow'] - net['inflow']
        net['value'] = net['outflow'] + net['inflow']
        net = net.rename(columns={'country 1': 'country'})
        
        return net[['country', 'country 2', 'inflow', 'outflow', 'year', 'net', 'value']]
    
    def country_flow_PT(self, df1, df2, df3):

        df1_PT = pd.pivot_table(df1, values='amount', index=['donor'], columns=['year', 'recipient']) 
        df1_PT = flatten_multi_index(df1_PT).reset_index().rename(columns={'donor': 'country'})
        df1_PT['category'] = 'recipient'

        df2_PT = pd.pivot_table(df2, values='amount', index=['recipient'], columns=['year', 'donor']) 
        df2_PT = flatten_multi_index(df2_PT).reset_index().rename(columns={'recipient': 'country'})
        df2_PT['category'] = 'donor'

        df3_PT = pd.pivot_table(df3, values='net', index=['country'], columns=['year', 'country 2']) 
        df3_PT = flatten_multi_index(df3_PT).reset_index()
        df3_PT['category'] = 'net'
        
        df = pd.concat([df1_PT, df2_PT, df3_PT])
        df_PT = pd.pivot_table(df, index=['country'], columns=['category']) 
        df_PT = flatten_multi_index(df_PT).reset_index()
        df_PT = df_PT.fillna(0)

        return df_PT

In [15]:
ctc = DataProcessing_CountryToCountry()

In [16]:
wn_country_PT = ctc.final(df_new)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:73: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:96: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [17]:
wn_country_PT.head()

,country,donor_Australia_1973,donor_Australia_1974,donor_Australia_1975,donor_Australia_1976,donor_Australia_1977,donor_Australia_1978,donor_Australia_1979,donor_Australia_1980,net_Australia_1980,...,net_United States_2008,recipient_United States_2008,donor_United States_2009,donor_United States_2010,donor_United States_2011,donor_United States_2012,donor_United States_2013,donor_United States_All,net_United States_All,recipient_United States_All
0,Australia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.572618e+09,-2.572618e+09,0.0
1,Austria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.699085e+08,-7.699085e+08,0.0
2,Belgium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.843462e+08,-1.843462e+08,0.0
3,Brazil,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,55528517.0,31086679.0,33062881.0,21104514.0,49846811.0,1.354834e+10,-1.354834e+10,0.0
4,Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.068597e+09,-4.068597e+09,0.0

In [42]:
max(wn_country_PT.drop(['country'], axis=1).max(axis = 0).values)

48830067295.0

In [18]:
wn_country_PT.to_csv('wn_country_PT.csv', index=False)

In [19]:
class DataProcessing_CountrySnapshot():
    
    def __init__(self):
        
        """
        Country-level metrics
        """

    def countries_ranking(self, df_filt):
     
        """
        To rank countries connected to each country either as a donor/recipient based on commitment amount
        
        Parameters:
        df: Cleaned dataframe of each relationship between country
        """
    
        #[SOURCE]
        top_exposing = df_filt.groupby(['recipient', 'donor'])['amount'].sum().reset_index()
        top_exposing = top_exposing.sort_values('amount',ascending=False)
        top_exposing['category'] = 'exposed by'
        
        #[DESTINATION]
        top_exposedby = df_filt.groupby(['donor', 'recipient'])['amount'].sum().reset_index()
        top_exposedby = top_exposedby.sort_values('amount',ascending=False)
        top_exposedby['category'] = 'exposing'

        countries_ranking = pd.concat([top_exposing, top_exposedby])
        countries_ranking = countries_ranking.rename(columns={'amount': 'sum'})

        return countries_ranking

In [20]:
country = DataProcessing_CountrySnapshot()
countries_ranking = country.countries_ranking(df_new)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [21]:
countries_ranking.to_csv('countries_ranking.csv', index=False)